{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="hero min-h-screen -z-50" style="background-image: url(https://www.villeamiedesenfants.fr/wp-content/uploads/sites/3/2022/10/Image2-Pini-Stephane.jpg);">
        <div class="hero-overlay bg-opacity-90"></div>
        <div class="hero-content text-center text-neutral-content">
            <div class="max-w-md">
                <img src="https://cdn.discordapp.com/attachments/717384261354651649/1251493312100044940/OIG4-removebg-preview.png?ex=666ec779&is=666d75f9&hm=7e9d8408b7d6b489dcb96a7914e274adbdf4fbe37258db7b893560c271621823&">
                <h1 class="mb-5 text-5xl font-bold">LES VESOULERIES</h1>
                <p class="mb-5">Le meilleur endroit pour trouver des événements à Vesoul.</p>
            </div>
        </div>
    </div>
{% endblock %}
