<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Gestion des événements{% endblock %}</title>
    <link rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>
<body>


<div class="container my-4">
    {% block body %}{% endblock %}
</div>

<script></script>
{% block javascripts %}{% endblock %}
</body>
</html>
