{% extends 'base.html.twig' %}

{% block body %}
    <div class="mx-auto pt-24 container max-w-4xl">
        <h1 class="text-4xl font-semibold mb-8 text-center">Liste des événements</h1>

        <div class="mb-8 flex justify-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for evenement in pagination %}
                <div class="card bg-base-100 shadow-xl hover:shadow-2xl transition-shadow">
                    <div class="card-body">
                        <a href="{{ path('evenement_show', {'id': evenement.id}) }}" class="card-title text-2xl font-bold text-primary hover:underline">{{ evenement.title }}</a>
                        {% if evenement.isPublic %}
                            <div class="badge badge-success gap-2">
                                Public
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" /><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" /></svg>
                            </div>
                        {% else %}
                            <div class="badge badge-error gap-2">
                                Privé
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 7a2 2 0 012 2m4 0a6 6 0 01-7.743 5.743L11 17H9v2H7v2H4a1 1 0 01-1-1v-2.586a1 1 0 01.293-.707l5.964-5.964A6 6 0 1121 9z" /></svg>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="mt-8 flex justify-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}